body {
    margin: 0px;
    font-family: system-ui;
    height: 100vh;
}


.header-card {
    padding: 20px 20px 20px 40px;
    border-bottom: 1px solid #e6ebf3;
}


.container {
    display: flex;
    height: 76vh;
}


.left-container {
    background: #002970;
    width: 35%;
    padding: 50px 30px 30px 60px;
}

.left-header {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.benefits-list {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.icon-view {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #264885;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.list-header {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.list-content {
    font-size: 14px;
    font-weight: 200;
}

.more-btn {
    font-size: 14px;
    color: #00b8f5;
    line-height: 16px;
    font-weight: 700;
    background: white;
    border: 1px solid #00b8f5;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.left-content {
    margin-top: 50px;
}



.right-container {
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 40px;

}

.right-login-card {
    width: inherit;
    height: fit-content;
    padding: 15px;
    max-width: 600px;
    border-radius: 3px;
}

.right-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-view {
    border: 1px solid #e6ebf3;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    color: #29394f;
    margin: 10px 0;
    font-weight: bold;

    
}

.input-view:focus {
    border: 1px solid #00b8f5;
    outline: #00b8f5;
}

.otp-btn {
    font-size: 14px;
    background: #00b8f5;
    line-height: 16px;
    font-weight: 700;
    color: white;
    border: 1px solid #00b8f5;
    padding: 10px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.terms-text {
    color: #29394f;
    font-weight: 200;
    font-size: 11px;
    margin: 20px 0;
}

.terms-text span {
    color: #00b8f5;
    font-weight: 300;
}

.right-footer {
    color: #00b8f5;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding-top: 20px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .08);
    padding: 15px;
}

.right-top-content {
    padding: 15px 15px 70px 15px;
    box-shadow: 0 0px 9px rgba(0, 0, 0, .08);
}

/* Footer */
.gray-footer {
    border-top: 8px solid #29394f;
}

.blue-card {
    border-top: 8px solid #00b8f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.footer-list {
    display: flex;
}

.footer-list div {
    color: #00b8f5;
    margin-right: 30px;
    cursor: pointer;
}

.copyright-text {
    font-size: 14px;
    margin-right: 30px;
    color: #29394f;
}